/* Write your code here. */
.each-emoji-card {
  background-color: transparent;
  height: 200px;
  width: 200px;
  margin: 7px;
}
.emoji-button {
  background-color: transparent;
  padding: 20px;
  margin-right: 5px;
  
  border-radius: 10px;
  border: 1px solid #ffffff;
}
