/* Write your code here. */
.bg-container {
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
  height:100vh;
  background-size: cover;
}

.main-container {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
